<div class="container">
	<div class="eachOne" ng-repeat='product in cart'>
		<h2>{{product.item_name}}</h2>
		<img ng-src='../images/{{product.image_url}}'>
		<p> Price: ${{product.price}} </p>
		<p>quantity: {{product.quantity}}</p>
		<button ng-click='increaseQuantity(product)'> + </button>
		<button ng-click='decreaseQuantity(product)' ng-disabled="product.quantity <= 1"> - </button>
		<button ng-click='clearItem(product)'>No thanks!</button>
	</div>

	<div>subtotal: {{subTotal}}<div>
		<div>tax: {{tax}}</div>
		<div>total: {{total}}</div>
	<button ui-sref='products'>keep shopping</button>
	<button ui-sref='checkout'>checkout</button>
</div>
