
<div>
<div>ALL THE MOST DARLING KITCHEN ACCESSORIES!</div>

<div class="container">
	<div class="eachOne" ng-repeat='product in products'>
		<h2>{{product.item_name}}</h2>
		<img ng-src='../images/{{product.image_url}}' style="height:200px;width:150px">
		<p> Price: ${{product.price}} </p>
		<button ng-click="addToCart(product)" ng-disabled='product.added'>
			<p ng-if="product.added">
				You got it!
			</p>
			<p ng-if="!product.added">
				I need it!
			</p>
		</button>
	</div>
</div>
</div>
<button ui-sref='cart'>View Cart</button>
