body {
	height: 100%;
}

.homepicture {
	background-image: url('./images/candy-hearts-pink-white_1.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	padding-top: 100px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.goShopping {
	text-align: center;
	margin-left: 40%;
	font-family: cursive;
	font-size: 25px;

}

a:link{
	color: #red;

}

a:visited {
	color: #yellow;

}

a:hover{
	color: white;

}

 header {
 		position: fixed;
    top: 0;
    z-index: 10;
		background-color: white;
		display: flex;
		justify-content: space-around;
		align-items:center;
		width: 100%
 }



 .container{
 	padding-top: 5%;
	margin-top: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #E8F7F2;
 }

.bag {
	float: right;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;

}

.title {
	font-family: cursive;
	font-size: 85px;
	font-weight: bold;
	color: #E8F7F2;
	text-align: center;
	text-shadow: 2px 2px black;
}

.eachOne {
	border-style: dotted;
	border-color: yellow;
	background-color: white;
	margin: 10px;
	font-size: 10px;
	font-family: georgia;
	text-align: center;
	font-style: italic;
	padding:10px;

}

.total {
	font-family: cursive;
	font-style: bold;
}

.form-container {
	padding-top: 60px;
}

.upTop {
	font-family: cursive;
	font-size: 36px;
	padding-left: 20px;
	text-align: center;
	color: #dda0dd;
	font-style: oblique;
}
