body {
	height: 100%;
}

.homepicture {
	background-image: url('./images/candy-hearts-pink-white_1.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	padding-top: 100px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

 header {
 		position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
 }

 .container{
 	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #E8F7F2;
 }

.bag {
	float: right;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;

}

.title {
	font-family: cursive;
	font-size: 85px;
	font-weight: bold;
	color: #E8F7F2;
	text-align: center;
}

.eachOne {
	border-style: dotted;
	border-color: yellow;
	background-color: white;

}

.total {
	font-family: cursive;
	font-style: bold;
}

.form-container {
	padding-top: 60px;
}
